<% layout("/layouts/boilerPlate") %>

<div class="form mx-auto w-50">
    <h2 class="heading">Editing the listing</h2>
    <form method="POST" action="/listings/<%=list.id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">

        <div class="mb-3">
            <label for="title" class="form-label fw-bold">Title</label>
            <input type="text" name="listing[title]" value="<%=list.title%>" class="form-control" required>
            <div class="invalid-feedback">Enter name of your motel</div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label fw-bold">Description</label>
            <input type="text" name="listing[description]" value="<%=list.description%>" class="form-control" required>
            <div class="invalid-feedback">Enter short description</div>
        </div>

        <div class="mb-3">
            <p>Original Image</p>
            <img src="<%=originalImageUrl%>" alt="">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label fw-bold">upload new Image</label>
            <input type="file" name="listing[image]" class="form-control" >
        </div>

        <div class="mb-3" >
            <label for="price" class="form-label fw-bold">Price</label>
            <input type="text" name="listing[price]" value="<%=list.price%>" class="form-control" required>
            <div class="invalid-feedback">Enter valid price</div>
        </div>

        <div class="row">
            <div class="mb-3 col-md-6">
                <label for="location" class="form-label fw-bold">Location</label>
                <input type="text" name="listing[location]" value="<%=list.location%>" class="form-control" required>
                <div class="invalid-feedback">Enter valid location</div>
            </div>

            <div class="mb-3 col-md-6">
                <label for="country" class="form-label fw-bold">Country</label>
                <input type="text" name="listing[country]" value="<%=list.country%>" class="form-control" required>
                <div class="invalid-feedback">Enter name of country</div>
            </div>
        </div>

        <button class="btn btn-dark add-btn">Edit</button>
    </form>
</div>

